
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
    <form action="/users/login" method="post">
      <div>
        <label for="user_ID">ID:</label>
        <input type="text" id="user_ID" name="user_ID" required>
      </div>
      <div>
        <label for="user_pw">Password:</label>
        <input type="password" id="user_pw" name="user_pw" required>
      </div>
      <button type="submit">Login</button>
    </form>
    
</body>
</html>