<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logout</title>
</head>
<body>
    <p>Click the button below to log out.</p>
    <form action="/users/logout" method="get">
      <button type="submit" onclick="logoutUser()">Logout</button>
    </form>
    <script>
      function logoutUser() {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/users/logout', true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState == 4 && xhr.status == 200) {
            alert('로그아웃 되었습니다');
            window.location.href = '/';
          }
        };
        xhr.send();
      }
    </script>
</body>
</html>

