
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>
    <body>
        
        <form action="/users/register" method="post">
          <div>
            <label for="user_name">Name:</label>
            <input type="text" id="user_name" name="user_name" required>
          </div>
          <div>
            <label for="user_ID">ID:</label>
            <input type="text" id="user_ID" name="user_ID" required>
          </div>
          <div>
            <label for="user_pw">Password:</label>
            <input type="password" id="user_pw" name="user_pw" required>
          </div>
          <div>
            <label for="confirm_pw">Confirm Password:</label>
            <input type="password" id="confirm_pw" name="confirm_pw" required>
          </div>
          <button type="submit">Register</button>
        </form>
</body>
</html>